li {
  /* -moz-border-radius: 15px; //for mozilla support
  -webkit-border-radius: 15px; //for chrome support
  border-radius: 15px; */
  list-style: none;
  background-color: #ccc;
  height: 200px;
  text-align: center;
  /* padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cardInfo {
  
}
