footer {
  position: relative;
  bottom: 0px;
  padding-bottom: 1vh;
  width: 100%;
}

ul {
  display: flex;
  position: relative;
  width: 100%;
}

li {
  /* float: center; */
  padding: 20px 20px;
}

h1 {
    font-size: 100px;
}

body {
  text-align: center;
  height: 100vh;
}

.projects {
    padding-left: 2vw;
    padding-right: 2vw;
}

.title {
  font-size: 30px:
}

.subtitle {
  font-size: 17px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.github {
  width: 50px;
  height: auto;
}
