li {
  /* -moz-border-radius: 15px; //for mozilla support
  -webkit-border-radius: 15px; //for chrome support
  border-radius: 15px; */
  list-style: none;
  background-color: #ccc;
  height: 200px;
  text-align: center;
  flex: 0 1 calc(25% - 1em);
  /* padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
}

.cardInfo {

}

.cardName {
  font-family: 'Montserrat'
  font-style: normal;
  font-size: 150%;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
